@mixin xl{
  @media (max-width:1200px){
    @content;
  }
}

@mixin lg{
  @media (max-width:992px){
    @content;
  }
}
@mixin md{
  @media (max-width:768px){
    @content;
  }
}
@mixin sm{
  @media (max-width:576px){
    @content;
  }
}

@mixin border-end-radius($radius: $border-radius) {
  @if $enable-rounded {
    border-top-right-radius: valid-radius($radius);
    border-bottom-right-radius: valid-radius($radius);
  }
}
@mixin border-bottom-right-radius($radius: $border-radius) {
  @if $enable-rounded {
    border-bottom-right-radius: valid-radius($radius);
  }
}
@mixin list-group-item-variant($state:test, $background:red, $color:red) {
  .list-group-item-#{$state} {
    color: $color;
    background-color: $background;

    &.list-group-item-action {
      &:hover,
      &:focus {
        color: $color;
        background-color: shade-color($background, 10%);
      }

      &.active {
        color: $white;
        background-color: $color;
        border-color: $color;
      }
    }
  }
}